<div class="flex-1">
  <h2 class="text-2xl font-bold mb-4">Add Contact Information</h2>
</div>
<form (submit)="onSubmit($event)" class="flex flex-col max-w-4xl">
  <div class="flex flex-col md:flex-row gap-4 mb-6 items-end">
    <label class="select flex-1">
      <span class="label">Type</span>
      <select [field]="CIForm.type">
        <option value="" disabled selected>Select Contact Type</option>
        <option value="Email">Email</option>
        <option value="PhoneNumber">Phone</option>
      </select>
    </label>

    @if (CIForm.type().value() === 'Email') {
      <label class="flex-1">
        <span class="label">Email Address</span>
        <input class="input w-full" type="text" placeholder="mm@mail.com" [field]="CIForm.value" />
      </label>
      @if (CIForm.value().invalid()) {
        <ul>
          @for (error of CIForm.value().errors(); track error) {
            <li class="text-sm text-error">- {{ error.message }}</li>
          }
        </ul>
      }
    } @else if (CIForm.type().value() === 'PhoneNumber') {
      <label class="flex-1">
        <span class="label">Phone Number</span>
        <input class="input w-full" type="text" placeholder="+123456789" [field]="CIForm.value" />
      </label>
    }
  </div>
  <div class="flex justify-center">
    <button class="btn btn-primary px-8" type="submit">Create</button>
  </div>
</form>
