@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dracula --prefersdark;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-area,
  #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
  }
}
